.calculator {
  display: grid;
  background-color: var(--white);
  border-radius: 1.5rem;
  gap: 2rem;
  padding: 1.5rem;

  @media (min-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}
