@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: hsl(172, 67%, 45%);
  --main-color-hover: hsla(173, 61%, 77%, 1);

  --white: hsl(0, 0%, 100%);
  --error: hsla(11, 41%, 60%, 1);

  --cyan-100: hsl(189, 41%, 97%);
  --cyan-200: hsl(185, 41%, 84%);
  --cyan-300: hsl(184, 14%, 56%);
  --cyan-400: hsl(186, 14%, 43%);
  --cyan-500: hsl(183, 100%, 15%);

  --main-br: 0.3rem;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cyan-200);
}

a {
  font-family: "Space Mono", monospace;
}
